$icon-font-path:"../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
 .browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* Space out content a bit */

body {
    padding-top: 20px;
    padding-bottom: 20px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    z-index: 99;
}
/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}
/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
.container-narrow > hr {
    margin: 30px 0;
}
/* Main marketing message and sign up button */

.well {
    z-index: 1;
}
/* Supporting marketing content */

.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}
/* Responsive: Portrait tablets and up */

.btn {
    width: 100%;
}
.middle-well {
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    box-shadow: none;
    background-color: transparent;
}
.battle-arena {
    width: 100%;
    height: 170px;
    text-align: center;
}
.warrior {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid lightgray;
    background-image: none;
    background-color: #fff;
}
.ganondorf-attack {
    width: 83px;
    height: 65px;
    background-color: #fff;
    border-color: #d9534f;
    background-image: url("../images/ganondorf-sprite.png");
    background-repeat: no-repeat;
    background-position: -163px -70px;
}
.link-attack {
    width: 85px;
    height: 65px;
    background-color: #fff;
    border-color: #d9534f;
    background-image: url("../images/link-sprite.gif");
    background-repeat: no-repeat;
    background-position: -240px -100px;
}
.ganondorf-defend {
    width: 50px;
    height: 66px;
    margin: 0 7px;
    background-color: #fff;
    border-color: rgb(173, 216, 230);
    background-image: url("../images/ganondorf-sprite.png");
    background-repeat: no-repeat;
    background-position: -120px -75px;
}
.link-defend {
    width: 46px;
    height: 75px;
    margin: 0 7px;
    background-color: #fff;
    border-color: rgb(173, 216, 230);
    background-image: url("../images/link-sprite.gif");
    background-repeat: no-repeat;
    background-position: -195px -10px;
}
.link-win {
    display: block;
    width: 60px;
    height: 80px;
    margin: auto;
    border: 2px dotted gold;
    border-radius: 4px;
    background-image: url("../images/link-sprite.gif");
    background-repeat: no-repeat;
    background-position: -125px -170px;
}
.ganondorf-win {
    display: block;
    width: 55px;
    height: 80px;
    margin: auto;
    border: 2px dotted green;
    border-radius: 4px;
    background-image: url("../images/ganondorf-sprite.png");
    background-repeat: no-repeat;
    background-position: -240px -60px;
}
.player1-backboard {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    background: green;
}
.player2-backboard {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    background: pink;
}
.attacking {
    background-color: rgb(217, 83, 79);
}
.defending {
    background-color: lightblue;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
.loser {
    background-color: red;
}
.winner {
    background-color: deepskyblue;
}