<div>
    <div>
        <select class="form-control" ng-model="level" ng-change="update(level)" ng-options="level for level in range">
            <option value="">Choose your level:</option>
            <!-- default -->
        </select>
    </div>
    <br>
    <p>Player 1's level is: {{playerStats.level}}</p>
    <p>and the player's health is: {{playerStats.health}}</p>

  <div class="progress">
      <progressbar value="playerStats.health/playerStats.maxHealth*100"><span style="color:black">{{playerStats.health/playerStats.maxHealth*100|number:0}}%</span></progressbar>
    </div>
    <p>and the player's latest attack did: {{lastAttack}}</p>
</div>