<div class="row marketing">

    <!--    <div ng-class="{'winner':winner == player1, 'loser': loser == player1}" class="player1-backboard"></div>-->
    <div ng-class="offense == player1 ? 'attacking' : 'defending'" class="well col-sm-5">
        <!--<h1 ng-if="offense == player1">ATTACK!!!!!!</h1>
        <h1 ng-if="offense != player1">DEFEND!!!!!!</h1>-->

        <div player reset="player1Reset" player-Stats="player1" name="'Player 1'" ng-init="player1.name = 'Player 1'"></div>
    </div>


    <div class="well col-sm-2 middle-well">
        <div class="battle-arena">
            <div ng-class="offense == player1 ? 'ganondorf-attack' : 'ganondorf-defend'" class="warrior"></div>
            <b>VS</b>
            <div ng-class="offense == player1 ? 'link-defend' : 'link-attack'" class="warrior"></div>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-danger" ng-disabled="winner" ng-if="offense" ng-click="executeAttack()">Attack!</button>
            <button type="button" class="btn btn-success" ng-if="!gameStarted && player1.level && player2.level" ng-click="startGame()">Start!</button>
            <button type="button" class="btn btn-info" ng-if="gameStarted" ng-click="resetGame()">Reset</button>
        </div>
    </div>

    <!--    <div ng-class="{'winner': winner == player2, 'loser': loser == player2}" class="player2-backboard"></div>-->
    <div ng-class="offense == player2 ? 'attacking' : 'defending'" class="well col-sm-5">
        <!--<h1 ng-if="offense == player2">ATTACK!!!!!!</h1>
<h1 ng-if="offense != player2">DEFEND!!!!!!</h1>
<button ng-click="openModal()">Open Modal</button>-->

        <div player reset="player2Reset" player-Stats="player2" name="'Player 2'" ng-init="player2.name = 'Player 2'"></div>
    </div>



</div>
